@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
*:not(i) {
  font-family: "SUITE-Regular";
  padding: 0 5px;
}
body {
  padding: 20px;
}
/* h2 {
  text-align: center;
} */

input {
  padding: 5px 10px;
  margin: 5px 0;
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border-radius: 15px;
  padding: 5px 15px;
}
/*
button:hover,
a:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  cursor: pointer;
  border-color: #bcbcbc;
  background: linear-gradient(#eee, #bcbcbc);
}
*/
